%div.row{ "ng-app" => "APLIPlusApp" }
  %div.large-12.columns
    %h1
      APLIListing :
    %hr
    %div.large-12.columns{ "ng-controller" => "APLIPlusController" }
      %div.row
        %div.large-3.columns
          Nom
        %div.large-3.columns
          Prénom
        %div.large-3.columns
          Nombre de plus
      %div{ "ng-repeat" => "people in peoples" }
        %div.row
          %div.large-3.columns
            {{ people.last_name }}
          %div.large-3.columns
            {{ people.first_name }}
          %div.large-3.columns
            {{ people.plus_number }}
/
  %div.row{ "ng-app" => "APLIChart" }
    %div.large-12.columns
      %h1
        APLIChart :
      %hr
        %div.large-12.columns{ "ng-controller" => "APLIChartController" }
          %linechart{ "data" => "data", "options" => "options", "mode" => "", "width" => "100%", "height" => "100%" }
- if @is_admin == true
  %div.large-12.columns
    %div.text-center
      %a#admin_panel_link{:href => "/plus/edit"}
        Administration