%div.row{ "ng-app" => "APLIPlusApp" }
  %div.large-12.columns
    %h1
      APLIListing :
    %hr
    %div.large-12.columns{ "ng-controller" => "APLIPlusController" }
      %div.row
        %div.large-3.columns
          Nom
        %div.large-3.columns
          Prénom
        %div.large-3.columns
          Nombre de plus
      %div{ "ng-repeat" => "people in peoples" }
        %div.row
          %div.large-3.columns
            {{ people.last_name }}
          %div.large-3.columns
            {{ people.first_name }}
          %div.large-3.columns
            {{ people.plus_number }}
- if @is_admin == true
  %div.large-12.columns
    %div.text-center
      %a#admin_panel_link{:href => "/plus/edit"}
        Administration