<!DOCTYPE html>
<html>
<head>
  <title>ApliPlus</title>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
</body>
</html>
